<template>
  <div id="app">
    <v-app id="inspire">
      <v-main>
        <v-container class="fill-height" fluid>
          <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="4">
              <v-card class="elevation-12">
                <v-toolbar flat>
                    <v-toolbar-title>Войти в систему</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                  <v-form>
                      <v-text-field 
                      label="Email" 
                      name="login" 
                      type="text" 
                      v-model="email"
                      ></v-text-field>
                      <v-text-field 
                      id="password" 
                      label="Password" 
                      name="password" 
                      :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="show ? 'text' : 'password'"
                      v-model="password"
                      @keydown.enter="sign_in(),loader = 'loading'" 
                      @click:append="show=!show"
                      >
                      </v-text-field>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn class="ma-2" :loading="loading" :disabled="loading" outlined dense rounded @click="sign_in(), loader = 'loading'">
                    Войти
                    <template v-slot:loader>
                      <span class="custom-loader">
                        <v-icon light>mdi-loading</v-icon>
                      </span>
                    </template>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
export default {
    name: 'login',
    data(){
        return {
            email: '',
            password: '',
            loader: null,
            loading: false,
            show: false
        }
    },
    watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]

        setTimeout(() => (this[l] = false), 3000)

        this.loader = null
      },
    },
    methods:{
        async sign_in(){
            await this.$store.dispatch('sign_in', {
                email: this.email,
                password: this.password,
            })
            this.$router.push('/')
        },
    }
}
</script>

<style>

</style>