<template>
    <div class="app">
        <div class="app-container">
            <Header />
            <Filters />
            <Table />
        </div>
    </div>
</template>

<script>
import Filters from '../components/Filters.vue'
import Table from '../components/Table.vue'
import Header from '../components/Header.vue'

export default {
    name: 'StatusUpdate',
    components: {Filters,Table,Header},
    mounted(){
        // this.$store.dispatch('getProjectName')
        // this.$store.dispatch('getProjectType')
        // this.$store.dispatch('getProjectStatuses')
    }
}
</script>

<style lang="scss">
    .app{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-container{
            width: 100%;
            height: 100vh;
        }
    }
</style>