<template>
    <div class="container-filters">
        <v-form
        ref="form"
        v-model="valid"
        >
        <div class="filters-item">
            <v-select class="filters-item__type" 
            :items="typeProjects.map(item => item.project_type)" 
            ref="1"
            label="Тип проекта:"
            :rules="rules" 
            v-model="filters.type"
            outlined dense
            ></v-select>
        </div>
        <div class="filters-item">
            <v-combobox
            v-model="filters.name"
            :items="projectName.map(item => item.project_name)"
            label="Наименование проекта:"
            multiple
            outlined dense
            ></v-combobox>
        </div>
        <div class="filters-item">
            <div class="item-filters">
                <v-select 
                class="filters-item__status" 
                :items="statusProjects.map(item => item.display_status)" 
                :rules="rules" 
                label="Статус проекта:" 
                v-model="filters.status"
                outlined dense
                ></v-select>
            </div>
            <div class="item-filters__date">
                <v-menu
                ref="menu_min"
                v-model="menu_min"
                :close-on-content-click="false"
                :return-value.sync="filters.date_min"
                transition="scale-transition"
                offset-x
                min-width="290px"
                >
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                    v-model="filters.date_min"
                    label="Дата создания, с:"
                    readonly
                    outlined dense
                    v-bind="attrs"
                    v-on="on"
                    ></v-text-field>
                </template>
                <v-date-picker v-model="filters.date_min" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu_min = false">Закрыть</v-btn>
                    <v-btn text color="primary" @click="$refs.menu_min.save(filters.date_min)">Выбрать</v-btn>
                </v-date-picker>
                </v-menu>
            </div>
            <div class="item-filters__date">
                <v-menu
                ref="menu_max"
                v-model="menu_max"
                :close-on-content-click="false"
                :return-value.sync="filters.date_max"
                transition="scale-transition"
                offset-x
                min-width="290px"
                >
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                        v-model="filters.date_max"
                        label="Дата создания, по:"
                        readonly
                        outlined dense
                        v-bind="attrs"
                        v-on="on"
                    ></v-text-field>
                </template>
                <v-date-picker v-model="filters.date_max" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu_max = false">Закрыть</v-btn>
                    <v-btn text color="primary" @click="$refs.menu_max.save(filters.date_max)">Выбрать</v-btn>
                </v-date-picker>
                </v-menu>
            </div>
        </div>
        <div class="update">
            <v-btn class="update-btn" @click="updateDate(), projectId()" outlined dense rounded>
                <v-icon>mdi-reload</v-icon>
                Обновить
            </v-btn>
            <v-btn  @click="clearFilters()" outlined dense rounded>
                <v-icon>mdi-filter-remove</v-icon>
                Сбросить фильтр
            </v-btn>
        </div>
        </v-form>
    </div>
</template>

<script>
export default {
    name: 'Filters',
    data(){
        return{
            num : 2,
            valid: true,
            filters:{
                naimenovanie: '',
                type: '',
                name: '',
                status: '',
                date_min: '',
                date_max: ''
            },
            project_type:[],
            menu_min: false,
            menu_max: false,
            rules: [v => !!v || "Это поле обязательно!"]
        }
    },
    computed:{
        projectName(){
            if(!this.filters.type && !this.filters.status) return this.$store.getters.projectName
            else if(this.filters.type && !this.filters.status) return this.$store.getters.projectTypeFiltered(this.typeProjectId())
            else return this.$store.getters.projectNameFiltered(this.typeProjectId(), this.filters.status)
        },
        typeProjects(){
            return this.$store.getters.typeProjects
        },
        statusProjects(){
            if(!this.filters.type) return this.$store.getters.statusProjects
            else return this.projectName.filter(item => item.display_status)
        }
    },
    methods:{
        updateDate(){
            if(!this.filters.type && !this.filters.status){
                this.$refs.form.validate()
            }
            else {
                this.$store.dispatch('filterData', {
                    source_id: this.$store.getters.typeProjects.filter(item => item.project_type == this.filters.type)[0].source_id,
                    display_status: this.filters.status,
                    project_id: this.projectId(),
                    creation_date_from: this.filters.date_min,
                    creation_date_to: this.filters.date_max
                });
                this.$toast.success('Данные обновлены!', {
                    position: 'bottom-right'
                });
            }
        },
        clearFilters(){
            for(let item in this.filters){
                this.filters[item] = ''
            }
            this.$toast.success('Фильтры сброшены!', {
                position: 'bottom-right'
            });
        },
        projectId(){
            let projectId = [];
            for(let item in this.projectName){
                for(let i in this.filters.name){
                    if(this.projectName[item].project_name == this.filters.name[i]){
                        projectId.push(this.projectName[item].project_id)
                    }
                }
            }
            return projectId.join()
        },
        typeProjectId(){
            let projectId = '';
            for(let item in this.typeProjects){
                if(this.typeProjects[item].project_type == this.filters.type){
                    projectId = this.typeProjects[item].source_id;
                }
            }
            return projectId
        }
    }
}
</script>

<style lang="scss">
    .container-filters{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        .v-form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin-bottom: 20px;
        }
        .filters-item{
            width: 40%;
            .item-filters{
                display: flex;
                align-items: center;
            }
        }
        .update{
            display: flex;
            width: 40%;
            &-btn{
                margin-right: 20px;
            }
        }
    }
</style>