<template>
    <header>
        <div class="header-container">
            <h2>Массовое обновление заявок</h2>
        </div>
    </header>
</template>

<style lang="scss">
    header{
        width: 100%;
        height: 60px;
        .header-container{
            h2{
                font-size: 20px;
                font-weight: 300;
                padding: 10px 20px;
            }
        }
    }
</style>