<template>
    <div class="container-table">
        <div class="container-table__buttons">
            <div class="status-update">
                <v-select 
                :items="statusProjects.map(item => item.display_status)" 
                label="Преобразовать в:"  
                v-model="status"
                outlined dense
                >
                </v-select>
                <v-btn class="status-update__btn" @click="statusUp()" outlined dense rounded>Преобразовать</v-btn>
            </div>
        </div>
        <div class="container-table__item">
            <v-data-table
            v-model="selected"
            :headers="headers"
            :items="requests"
            :single-select="singleSelect"
            item-key="id"
            :footer-props="{
                itemsPerPageOptions : [],
                showFirstLastPage :  false, 
            }"
            :noDataText="`Заполните обязательные поля`"
            show-select
            class="elevation-3"
            >
            </v-data-table>
        </div>
    </div>
</template>

<script>
import {http} from '../http/axios-config.js'

export default {
    name: '',
    data(){
        return{
            singleSelect: false,
            selected: [],
            update: [],
            status: '',
            headers:[
                {text: 'Филиал', value: 'affiliate'},
                {text: 'ID проекта', value: 'id'},
                {text: 'Проект', value: 'project_title'},
                {text: 'Формат', value: 'form'},
                {text: 'Статус', value: 'status'},
                {text: 'Дата создания', value: 'date'},
            ]
        }
    },
    computed:{
        requests(){
            return this.$store.getters.requests
        },
        statusProjects(){
            return this.$store.getters.statusProjects
        }
    },
    methods:{
        async statusUp(){
            await this.selected.map(item => {
                this.update.push(item.source_id)
            })
            http.post('projects/status/', {
                'source_id' : this.update,
                'display_status' : this.status
            })
            .then(() => {
                this.selected = [];
                this.update = [];
                this.status = '';
                this.$toast.success('Данные преобразованы!', {
                    position: 'bottom-right'
                });
            })
        },
    }
}
</script>

<style lang="scss">
    .container-table{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
        &__buttons{
            width: 80%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .status-update{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                &__btn{
                    margin-left: 20px;    
                }
            }
        }
        &__item{
            width: 80%;
        }
    }
    .v-data-table__selected{
        background: #1976d250!important;
    }
</style>